[user]
	name = NevilleJS
	email = 69287021+s3dman@users.noreply.github.com 
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	tool = vimdiff
	prompt = false
[mergetool "vimdiff"]
	path = nvim
